/* Changes originate in community/css/community.css */

h1 {
    font-weight: 200;
    font-size: 28pt;
    margin-block-start: 0em;
  }
  h3 {
    margin-top: 20px;
  }
  body {
    margin:0px;
    background: #fff;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
  }
  iframe {
    display: block;       /* iframes are inline by default */
    backgroundX: #000;
    border: none;         /* Reset default border */
    min-height: 95vh;        /* Viewport-relative units */
    width: 100%;
  }
  #header {
    height: 70px;
    background-colorX: #ccc;
    border-bottomX: 1px solid #888;
  }
  .headerRect {
    width: 25%;
    height: 100%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 0px solid #fff;
    float: left;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 200;
    box-sizing: border-box;
  }
  .headerRect:hover {
    background-color: #ddd;
  }
  .arrowdown {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    margin:4px;
    float: right;
  }

  #resizable {
    position: relative;
    width: 25%;
    background: #fff;
    float:left;
    overflow:hidden;
  }
  #resizer {
    position: absolute;
    width: 6px;
    top: 30px;
    bottom: 30px;
    right: -3px;
    background: orange;
    background: #ddd;
    background: #fff;
    opacity: .5;
    cursor: ew-resize;
  }
  #mainarea {
    overflow: hidden;
    min-height: 100vh; 
    margin: 50px;
    margin: 0px;
    position: relative;
  }
  #mainarea iframe {
    background: #efefef;
    border: 1px solid #ddd;
  }
  .sideBySide {
    float:left;
    padding-right:50px;
    padding-bottom:30px;
  }

  @media (max-width: 600px) {
    #header {
      display:none;
    }
  }
  @media (max-width: 800px) {
    #resizable {
      width: 100%;
    }
    #mainarea {
      width: 85%;
      padding:0px;
      padding-right:20px;
    }
  }